body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: outfit;
    margin: 0;
}

.qr-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    font-size: 12px;
}

.qr-card img {
    margin: 0 auto;
    width: 80%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}